
.react-calendar {
    border: none;
    box-shadow: none;
    width: 95%;
    max-width: 500px;

}


.react-calendar__navigation__label > span {
    font-size: 20px ;
    color: #4C5059;
    font-weight: bold;
}

/* 기본 요일 색상 */
.react-calendar__month-view__weekdays {
    abbr {
        color: gray;
        text-decoration: none; /* 밑줄 제거 (= 점 제거) */
        cursor: default;
    }
}

.react-calendar__navigation__prev-button {
    background-color: #ffffff;
    color: #4C5059;
    font-size: 2rem;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-calendar__navigation__next-button {
    background-color: #ffffff;
    color: #4C5059;
    font-size: 2rem;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-calendar__navigation__prev-button:hover {
    background-color: #f0f0f0;
    color: #4C5059;
}

.react-calendar__navigation__next-button:hover {
    background-color: #f0f0f0;
    color: #4C5059;
}

.react-calendar__month-view {
    font-size: 1.5rem;
}

/* 요일 이름 색상 */
.react-calendar__month-view__weekdays__weekday:nth-child(1) abbr {
    color: #EB5757; /* 일요일 */
}
.react-calendar__month-view__weekdays__weekday:nth-child(7) abbr {
    color: #2F80ED; /* 토요일 */
}

.react-calendar__month-view__days__day {

    color: #4C5059;
}

.react-calendar__tile {

    min-height: 3rem;      /* 높이 늘리기 */
    box-sizing: border-box;  /* 패딩 포함 */
}

/* 날짜 텍스트 색상 */
.react-calendar__tile.sunday{
    color: #EB5777;
}
.react-calendar__tile.saturday{
    color: #2F80ED;
}

.react-calendar__tile--active.saturday {
    color: white;
}
.react-calendar__tile--active.sunday{
    color: white;
}
.react-calendar__tile--active {
    color: white;
}
.react-calendar__month-view__weekdays:hover {
    color: #4C5059;
}


/* 현재 보여지는 달 외 날짜들 (이전/다음 달) */
.react-calendar__tile.neighboring-month {
    color: #ccc;
}
