<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>Document</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #F1F1F1;
        }

        .container {
            width: 1200px;
            height: 900px;
            background-color: #F1F1F1;
            border-radius: 10px;
        }

        .btn-lg {
            color: #f8f9fa;
            font-size: 15px;
            font-weight: bolder;
        }

        .card-body {
            align-items: center;
        }

    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const urlParams = new URLSearchParams(window.location.search);
            const errorMessage = urlParams.get("error");
            if(errorMessage != null){
                const modalDiv = new bootstrap.Modal(document.querySelector("#modalDiv"));
                document.querySelector("#modalLabel").textContent = "로그인 오류";
                document.querySelector("#modalMessage").textContent = errorMessage;
                modalDiv.show();
                console.log(errorMessage)
            }

            const form = document.getElementById('loginForm');
            form.addEventListener('keydown', function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    loginFormSubmit();
                }
            });
        });

        function loginFormSubmit() {
            document.getElementById('loginForm').submit();
        }
    </script>
</head>
<body>
<div class="container">
    <div class="card mx-auto border-0"
         style="max-width: 1200px; height: 900px;">
        <div class="card-body">
            <div class="card mx-auto border-0"
                 style="max-width: 280px; height: 850px">
                <div class="card-body">
                    <h2 class="card-title text-center" style="margin: 100px 0 100px 0; font-weight: bolder">Yogi Odi Gym</h2>
                    <form th:action="@{/login}" method="post" id="loginForm">
                        <div class="mb-3">
                            <label for="username" class="form-label">이메일</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="example@mail.com" style="background-color: #F1F1F1">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="password" style="background-color: #F1F1F1">
                        </div>
                    </form>

                    <div class="mb-3" style="display: flex; justify-content: center; align-items: center; gap: 30px; padding: 20px 0">
                        <a th:href="@{/oauth2/authorization/kakao}">
                            <img src="/images/source/kakao_logo.png" alt="카카오 로그인" style="margin: 0" width="46px"
                                 height="46px">
                        </a>
                        <a th:href="@{/oauth2/authorization/naver}">
                            <img src="/images/source/naver_logo.png" alt="네이버 로그인" style="margin: 0" width="46px"
                                 height="46px">
                        </a>
                        <a th:href="@{/oauth2/authorization/google}">
                            <img src="/images/source/google_logo.png" alt="구글 로그인" style="margin: 0" width="46px"
                                 height="46px">
                        </a>
                    </div>

                    <button type="button" class="btn btn-lg w-100 mb-3" onclick="loginFormSubmit()" style="background-color: #27AE60; border-radius: 30px">
                        로그인
                    </button>

                    <a th:href="@{/member/regist}" class="btn btn-lg w-100 mb-3" style="background-color: #27AE60; border-radius: 30px">
                        회원가입
                    </a>

                    <a th:href="@{/member/find-pwd}" style="font-size: 12px">
                        비밀번호 번호를 잊어버리셨나요?
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/modal :: modalFragment}"></div>
</body>
</html>