body {
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
    background-color: #f1f1f1;
}

.container-fluid.d-flex.flex-row.table-list {
    display: flex;
    justify-content: space-evenly;
}

.apply-category-container {
    margin-top: 25px;
    width: 24%;
}

.member-container, .board-container, .lesson-container {
    width: 24%;
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 800px;
}

.category-container, .apply-container {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 390px;
}

.member-container h3, .lesson-container h3, .category-container h3, .apply-container h3, .board-container h3 {
    text-align: center;
    width: 100%;
}

.memberTable-container, .lessonTable-container, .boardTable-container {
    width: 100%;
    height: 800px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.category-container {
    display: flex;
    width: 100%;
    height: 390px;
    overflow-y: auto;
}

.categoryTable-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

.table-wrap {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.applyTable-container {
    width: 100%;
    height: 390px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.table thead th {
    position: sticky;
    z-index: 1;
    top: 0;
    vertical-align: middle;
    text-align: center;
    background-color: #343a40;
    color: white;
}

.table tbody td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
}

.table th, .table td {
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 2px 5px;
}

#memberTable th:nth-child(1) { width: 30px; }
#memberTable th:nth-child(2) { width: 100px; }
#memberTable th:nth-child(3) { width: 150px; }
#memberTable th:nth-child(4) { width: 100px; }

#lessonTable th:nth-child(1) { width: 30px; }
#lessonTable th:nth-child(2) { width: 200px; }
#lessonTable th:nth-child(3) { width: 100px; }

#boardTable th:nth-child(1) { width: 30px; }
#boardTable th:nth-child(2) { width: 250px; }

#applyTable th:nth-child(1) { width: 100px; }
#applyTable th:nth-child(2) { width: 200px; }

#categoryTable-les th:nth-child(1) { width: 30px; }
#categoryTable-board th:nth-child(1) { width: 30px; }

#memberTable td:nth-child(3) { width: 150px; }
#lessonTable td:nth-child(2) { width: 200px; }
#boardTable td:nth-child(2) { width: 250px; !important; }
#applyTable td:nth-child(2) { width: 200px; }
#categoryTable-les td:nth-child(2) { width: 150px; }
#categoryTable-board td:nth-child(2) { width: 150px; }

.search-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

#memberSearchInput, #lessonSearchInput, #categorySearchInput, #applySearchInput, #boardSearchInput {
    width: 250px;
}

#deleteMemberButton, #deleteLessonButton, #deleteCategoryButton, #deleteApplyButton, #deleteBoardButton {
    width: 60px;
    margin-top: 10px;
    align-self: flex-end;
}

#updateCategoryButton, #insertCategoryButton, #agreeApplyButton {
    width: 60px;
    margin-right: 10px;
    align-self: flex-end;
}

.category-btnGroup {
    display: flex;
    margin-top: 10px;
    align-self: flex-end;
}

table {
    width: 100%;
}